.active-nav-link {
  border-top: 3px solid #222 !important;
  color: #222 !important;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-links-panel {
  padding: 0 !important;
}

.tab-content {
  color: #777;
  padding: 1rem;
  line-height: 2;
  font-size: 1rem;
  min-height: 6rem;
}

.transactions-tab {
  text-align: center;
}

.receive-kara-button {
  background-color: #111 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  margin-left: 1rem !important;
  display: block;
  line-height: 2 !important;
  font-size: 1rem !important;
}