.containing-panel {
  padding: 0 !important;
}

.containing-panel--header {
  padding: 0.5rem 1rem !important;
  text-align: center;
}

.containing-panel--title {
  font-size: 1.5rem !important;
  letter-spacing: 1px;
}