.page-container {
  padding-top: 1.25rem;
  background: #eee;
  /* background: linear-gradient(to right, #dfd6d9 0%, #797b8d 90%); */
  /* background: linear-gradient(to right, #bdc3c7, #2c3e50); */
  min-height: 100vh;
  padding-bottom: 1.5rem;
}

.dashboard-header {
  margin-bottom: 3rem;
  line-height: 2;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.nav-button {
  height: 60px !important;
}

.send-button, .toggle-full-node-button {
  background-color: #111 !important;
  color: #fff !important;
}

.toggle-full-node-button {
  margin-left: 1rem !important;
}

.dashboard-panel {
  min-height: 150px !important;
}

.dashboard-panel--header {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.grey-data-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 1rem;
  background-color: #ccc;
  color: #666;
  font-weight: bold;
  height: 80px;
  margin-top: 0.75rem;
  font-size: 0.9rem;
}