.passphrase-panel {
  background-color: #444;
  margin-top: 1rem;
  padding: 1rem;
  color: #fff;
  border-radius: 0.1rem;
}

.modal-black-button {
  background-color: #111 !important;
  color: #fff !important;
}
